//Импорт шрифтов
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Poppins&display=swap");

// Объявление переменных
$active-link: #ac1313;
$black: #000000;
$text: #6c6c6c;
$pink: #d77474;
$white: #ffffff;

// Миксины
@mixin my-opacity {
    cursor: pointer;
    transition: opacity 0.3s ease;
}

html,
body,
main {
    scroll-behavior: smooth; // для плавного перехода по якорным ссылкам
}

*::-webkit-scrollbar {
    width: 6px;
    height: 2px;
  }
  
  *::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 6px;
  }

// Стили для страницы в целом
.page {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

// Header
.header {
    // Стили для блока header
    max-width: 1440px;
    padding: 0 150px 0 130px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background: $white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;

    // Логотип
    .logo {
        width: 119px;
        height: 45px;
        margin: 19px 0 0 0;
    }
    // Блок Меню
    .header__links {
        box-sizing: border-box;
        padding: 26px 0;
        display: flex;
        justify-content: space-between;
        .containers {
            display: none;

            cursor: pointer;
        }
        .bar1,
        .bar2,
        .bar3 {
            width: 35px;
            height: 5px;
            background-color: #333;
            margin: 6px 0;
            transition: 0.4s;
        }
        .change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
        }
        .change .bar2 {
            opacity: 0;
        }
        .change .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
        }
        // Само меню
        .header__menu {
            max-width: 335px;
            display: flex;
            min-height: 38px;
            border-right: 1px solid #ebebeb;
            justify-content: space-between;
            align-items: center;
            padding-right: 10px;
            margin: 0;
            a {
                display: inline-block;
                line-height: 1;
                text-decoration: none; /* Убираем подчеркивание */
                cursor: pointer;
              }
              a:after {
                background-color: red; /* Цвет линии при наведении на нее курсора мыши */
                display: block;
                content: "";
                height: 2px; /* Высота линии */
                width: 0%;
                -webkit-transition: width .3s ease-in-out;
                -moz--transition: width .3s ease-in-out;
                transition: width .3s ease-in-out;
              }
              a:hover:after,
              a:focus:after {
                width: 100%;
              }
            // Якорные ссылки
            .header__link {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 22px;
                letter-spacing: 2px;
                text-transform: uppercase;
                text-decoration: none;
                color: $text;
                margin-right: 40px;
            }

            .header__link:hover {
                color: $active-link;
            }
        }
        // Корзина
        .header__cart {
            align-self: center;
            text-decoration: none;
            margin: 0 0 0 41px;
            // Корзина
            .header__cart-text {
                font-family: "Libre Franklin";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                color: $black;
                align-items: center;
                margin: 0;
                position: relative;
            }
        }
    }
}

// Скролл
.scroll {
    border-radius: 50%;
    background: #4d5057;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 35px;
    color: white;
    display: none;
    z-index: 4;
    transition: 0.4s;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &:hover {
        background-color: black;
    }
    .scroll_up {
        transform: rotate(270deg) translate(35px, 0px);
        width: 100%;
        height: 100%;
        transition: 0.6s;
    }
}

.header__cart-icon:hover {
    opacity: 0.6;
    @include my-opacity;
}

.header__cart-text:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../image/Group.svg);
    top: 0;
    left: -25px;
}

.header__cart-text:hover {
    opacity: 0.6;
    @include my-opacity;
}

// Секция PROMO
.promo {
    max-width: 1440px;
    min-height: 471px;
    background-image: url("../image/bg1.jpg");
    padding: 121px 0 0 144px;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.promo__title {
    max-width: 556px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: $black;
    margin: 10px 0 0 0;
}

.promo__text {
    max-width: 500px;
    font-family: "Libre Franklin";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: $text;
    margin: 10px 0 30px 0;
}

.section-subtitle {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $pink;
    margin: 0;
    margin-left: 15px;
}

// Секция магазин
.store {
    width: 100%;
    padding: 120px 0 120px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: $black;
}

.section-title_store {
    margin: 16px 0 63px 18px;
}

.section-title_store {
    margin: 16px 0 63px 18px;
}

.title-aside_store {
    width: 340px;
    left: -95px;
    top: 44%;
    position: absolute;
}

.title-aside {
    width: 313px;
    height: 34px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #dbdbdb;
    transform: rotate(-90deg);
    margin: 0;
    align-self: start;
    position: absolute;
    top: 34%;
    left: -65px;
}

.title-aside_store {
    width: 340px;
    left: -95px;
    top: 44%;
    position: absolute;
}

.table {
    display: flex;
    justify-content: space-evenly;
    max-width: 1178px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.table__text {
    font-family: "Libre Franklin";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $text;
    margin: 17px 0 0 0;
}

.table__price {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $black;
    margin: 0 0 17px 0;
}

.table__cell {
    width: 371px;
    height: 580px;
    list-style: none;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
}

.table__cell:hover {
    cursor: pointer;
    border-bottom: 1px solid red;
}

.table__image {
    width: 370px;
    height: 494px;
    object-fit: cover;
    transition: 0.5s;
}

.table__image:hover {
    transform: scale(1.05);
}

.selection-card {
    text-decoration: none;
}

// Футер
.contacts {
    max-width: 1440px;
    padding: 90px 120px 83px 120px;
    background: rgba(252, 252, 252, 1);
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
}

.contacts-wrapper {
    max-width: 340px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.contacts__text {
    font-family: "Libre Franklin";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: $text;
    margin: 20px auto 70px auto;
}

.logo_contacts {
    margin: 19px auto 0 auto;
}

.contacts-block {
    max-width: 1120px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 150px;
}

.contacts-block__item {
    max-width: 188px;
    min-height: 127px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 20px;
}

.contacts-block__item_email {
    background-image: url(../image/email.svg);
}

.contacts-block__item_adress {
    background-image: url(../image/adress.svg);
}

.contacts-block__item_phone {
    background-image: url(../image/phone.svg);
}

.contacts-block__title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 30px 0 20px 0;
}

.contacts-block__info {
    font-family: "Libre Franklin";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: $text;
    margin: 0;
}

.footer {
    max-width: 1440px;
    background-color: rgba(249, 249, 249, 1);
    padding: 34px 0 34px 0;
}

.footer__copiright {
    text-align: center;
    margin: 0;
    font-family: "Libre Franklin";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: $text;
}

.footer__autor {
    color: $black;
}

.footer__link {
    text-decoration: none;
    color: $text;
}


// Медиа запросы
@media (max-width: 1023px) {
    .header {
        padding: 0 55px 0 60px;
    }
}
@media (max-width: 767px) {
    .header {
        padding: 0 20px 0 30px;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 767px) {
    .logo {
        width: calc(119px * 0.8);
        height: calc(45px * 0.8);
    }
}
@media (max-width: 767px) {
    .header__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
@media (max-width: 767px) {
    .header__menu {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .header__link {
        font-size: 10px;
        line-height: 20px;
        letter-spacing: 1px;
        margin-right: 20px;
        width: 70%;
    }
}
@media (max-width: 767px) {
    .header__cart {
        margin-left: 20px;
    }
}
@media (max-width: 767px) {
    .header__cart-text {
        font-size: 0;
    }
}
@media (max-width: 1023px) {
    .promo {
        padding: 60px 0 0 80px;
        background-position: -310px 0;
    }
}
@media (max-width: 767px) {
    .promo {
        padding: 60px 20px 0 40px;
        background-position: -430px 0;
    }
}
@media (max-width: 1023px) {
    .promo__title {
        font-size: 30px;
        line-height: 40px;
    }
}
@media (max-width: 1023px) {
    .promo__text {
        font-size: 14px;
        line-height: 22px;
        margin: 25px 0 50px 0;
    }
}
@media (max-width: 767px) {
    .section-title {
        font-size: 25px;
        line-height: 35px;
    }
}
@media (max-width: 767px) {
    .section-title_store {
        margin-bottom: 40px;
    }
}

@media (max-width: 1023px) {
    .store {
        padding: 80px 0;
    }
}

@media (max-width: 767px) {
    .store {
        padding: 50px 0;
    }
}
@media (max-width: 767px) {
    .section-title_store {
        margin-bottom: 40px;
    }
}
@media (max-width: 1023px) {
    .title-aside_store {
        top: 45%;
        left: -125px;
    }
}
@media (max-width: 1023px) {
    .title-aside {
        left: -85px;
        font-size: 16px;
        line-height: 32px;
    }
}
@media (max-width: 767px) {
    .title-aside {
        display: none;
    }
}
@media (max-width: 1023px) {
    .title-aside_store {
        top: 45%;
        left: -125px;
    }
}
@media (max-width: 1279px) {
    .table {
        max-width: 900px;
    }
}
@media (max-width: 1023px) {
    .table {
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    .table {
        max-width: 370px;
        padding: 0;
    }
}
@media (max-width: 1023px) {
    .table__cell {
        width: calc(371px * 0.8);
        height: calc(580px * 0.8);
    }
}

@media (max-width: 767px) {
    .table__cell {
        width: calc(371px * 0.7);
        height: calc(580px * 0.74);
        margin-bottom: 40px;
    }
}
@media (max-width: 1023px) {
    .table__image {
        width: calc(370px * 0.8);
        height: calc(494px * 0.8);
    }
}

@media (max-width: 767px) {
    .table__image {
        width: calc(370px * 0.7);
        height: calc(494px * 0.7);
    }
}
@media (max-width: 767px) {
    .contacts {
        padding: 50px 40px 50px 40px;
    }
}
@media (max-width: 767px) {
    .contacts-block {
        padding-left: 0px;
    }

    .contacts-block__item_adress {
        margin-bottom: 30px;
    }
}
@media (max-width: 600px) {
    .header .header__links {
        box-sizing: border-box;
        padding: 26px 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .header .header__links .header__menu {
        position: fixed;
        top: 135px;
        left: 0;
        right: 0;
        display: flex;
        width: 100%;
        flex-direction: column;
        text-align: center;
        border-right: 1px solid #ebebeb;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        max-width: 100%;
        gap: 10px;
        background-color: white;
        margin: 0;
        padding: 10px;
        height: 100vh;
        transform: translateX(100%);
        transition: all 0.5s;
        z-index: 10;
        overflow: hidden;

        &.active {
            transform: translateY(0);
        }
    }
    .header .header__links .header__menu .header__link {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        margin: 0;
        background: #ac1313;
        padding: 10px;
    }
    .header .header__links .containers {
        display: block;
        z-index: 13;
    }
}